.dropdown{
    width: 50vw;
    padding: 20px;
}

.escolhaDado{
    width: 50vw;
    padding: 20px;
}

.filtros{
    display: flex;
}
.checkbox{
    width: 100%;
    height: 213px;
    overflow: auto;
    border: 1px solid #ccc;

    
}
.checkbox label{
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;  /* Borda ao redor de cada label */
    border-radius: 4px;      /* Bordas arredondadas */
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
  }

.mapa{
    width: 40vw;
    height: 70vh;
    margin-right: 15px
}



.graficos{ 
    display: flex;
    padding: 50px;
    height: 70vh;
}

.graficosBarra{ 
    width: 60vw;
    height: 70vh;
}
